@media (max-width: 768px) {
  .w-m-75 {
    width: 75%;
  }
  .w-m-90 {
    width: 90%;
  }
  .m-justify-center {
    justify-content: center;
  }
  .m-align-items-center {
    align-items: center;
  }
}
